      <div class="WholeSite">
        <div class="title">
          <center>
            <h1>rumblr</h1>
            <h2>Discover the world in tranquility!</h2>

            <button id="getStarted" type="button" name="GetStarted">get started</button><br>
            <a href='login'><button id="login" type="button" name="Login" >login</button></a>



             <% if !session[:user_id] %>
        <a href="/login"> </a>
      <% else %>

    <% if session[:user_id] %>
       <a href="/social"> Social</a>    
        <a href="/feed">Feed </a>

      <%end%>
    <%end%>


            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <form action="/signup" method="post">
                  <input type="text" class="form" name="first_name" placeholder="First Name"><br><hr>
                  <input type="text" class="form" name="last_name" placeholder="Last Name"><br><hr>
                  <input type="text" class="form" name="username" placeholder="Username"><br><hr>
                  <input type="email" class="form " name="email" placeholder="Email"><br><hr>
                  <input type="password" name="password" class="form" placeholder="Password"><br>
                  <input type="submit" class="form">
                </form>
              </div>
            </div>
          </div>
        </div>

      </header>
      <main>
        <div class="content">
          <div id="bio">
            <div id="biography">
              <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/a1de8c12699665.5626bd2c34122.png" height='200px' width='200px'alt="R">
              <p>Rumblr is so easy to use that it’s hard to explain.
We made it really, really simple for people to make a blog and put whatever they want on it. Stories, photos, GIFs, TV shows, links, quips, dumb jokes, smart jokes, Spotify tracks, mp3s, videos, fashion, art, deep stuff. rumblr is 1 different blogs, filled with literally whatever.</p>
            </div>

          </div>

          <div id="signup">
            <!-- <a href= "#signupButton" ><button id="getStarted" class='button2' type="button">discover</button></a> -->



          </div>
        </div>
      </main>


    <script src="main.js"></script>
