<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel="stylesheet" href="main.css">
<link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">

  <head>
    <meta charset="utf-8">
    <title>Rumblr</title>
  </head>
  <body>
    <%=yield%>
 
    



  </body>
</html>
