
<div class="WholeLoginPage">
<div id = loginContent>
<form id="loginForm" action="/login" method="post">
  <input class="loginPage" type="email" name="email" placeholder="Email"><br>
  <input class="loginPage" type="password" name="password" placeholder="Password"><br>
  <input class="loginPage" id="loginPage2" type="submit" value="Login">
</form>
</div>

</div>
