
<div class="SocialPageLayout">
  <div id="banner">
    <img src="https://img.icons8.com/clouds/100/000000/r.png" height="200px" width="200px">
    
  </div>
  <div id="main">
      <div id="iconImage">
            <img id='avatar' src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" height='250px' width='250px'>

   
            <center>
            <h4 id='username'><%= session[:user_name]%></h4>
            <p id='sub-name'> <%= session[:username]%> </p>
            <br>
            <a href='logout'><button id="logout" type="button" name="logout" >logout</button></a> 
      </div>
      <div id="pageContent"> 
      
      <form id="Postbox" action="/social" method="post">
          <textarea rows="1" cols="70" class="blog" name="title" type="text" placeholder="Title"></textarea><br>
          <textarea rows="4" cols="70" class="blog" type="text" name="body" placeholder="What are you thinking..."></textarea><br>
          <input class="blog" type="submit" value="post">
        </form>

        <center><h4><%= session[:post_title]%> <br></h4>
        <%= session[:post_body]%><center>

        

        
        
</div>




</div>

      
      
      
      </div>

  </div>
  <div id="footing"></div>

</div>