
<div class="SocialPageLayout">
  <div id="banner">
    <img src="https://img.icons8.com/clouds/100/000000/r.png" height="200px" width="200px">
    
  </div>
  <div id="main">
      <div id="iconImage">
            <img id='avatar' src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" height='250px' width='250px'>
            
            <a href='logout'><button id="logout" type="button" name="logout" >logout</button></a>

            



    



      </div>
      <div id="pageContent">page goes here</div>

  </div>
  <div id="footing"></div>

</div>
