body {
  margin: 0;

}

.WholeSite {
  background-image: url('https://afar-production.imgix.net/uploads/images/afar_post_headers/images/hMgp5KhvDm/original_norway-northern-lights-lofoten-aurora.jpg');
  height: 100vh;
}

.title {
  padding: 10% 25%;
}

h1 {
  font-size: 9em;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  margin-bottom: -.02%;
  font-weight: bold;
  letter-spacing: 4.4px;
}

h2 {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.5em;
  color: white;
}

#getStarted {
  font-size: 3em;
  color: white;
  padding: 2.5% 15%;
  border-radius: 12px;
  background-color: rgb(0, 186, 249);
  transition: transform .2s;

}

#getStarted:hover,
#login:hover,
#loginPage2:hover{
  transform: scale(1.1);
}

.modal {
  display: none;
  /* Hidden by default */
  position: absolute;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 23.8% 2%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 125vh;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.form {
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  margin: 0;
  border: none;
  background: none;
  font: 20px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#login {
  font-size: 3em;
  padding: 2.5% 22.4%;
  margin-top: 2%;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  color: rgb(93, 93, 93);
  transition: transform .2s;

}

main {
  height: 100vh;
}

.content {
  display: grid;
  grid-template:
    'bio '
    'signup';
}

#bio {
  grid-area: 'bio';
  height: 70vh;
}

#biography {
  padding: 20%;
  font-size: 1.6em;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
  background-color: rgb(249,237,211);

}

#signup {
  grid-area: 'signup';
  height: 30vh;
  align-items: center;

}

.button2{
  margin: 10% 29.5%;

}


.WholeLoginPage{
  height: 100vh;
  background-image: url('https://images4.alphacoders.com/927/927562.jpg');
}



/* form{
    padding:-1;
    margin: 16px;
    color: white;
} */

#loginContent{
  padding: 20% 25%;
  color: white;
}

.loginPage{
  width: 100%;
  padding: 11px 10px 11px 13px;
  display: block;
  border: none;
  font: 30px/1.4 "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

#loginPage2{
  font-weight: bold;
  transition: transform .2s;
}

#loginform{
  background-color: white;
  padding: 20% 25%
}

#loginPage2:hover{
  color: rgb(42,186,249);
}

.SocialPageLayout{
  display: grid;
  grid-template-areas:
  "banner banner banner"
  "main main main"
  "main main main"
  "main main main"
  "footing footing footing";
}

#banner{
  grid-area: banner;
  position: static;
  /* padding: 2%; */
  background-color: rgb(23,71,90);
  /* box-shadow: 0px 10px 5px 0px; */
  border: 1px solid;
}

header{
  display: grid;
  grid-template-areas: 
  "cloudyR nav nameRumblr";
  /* ". nav ."; */
  grid-row-gap: 1em;;
}

#cloudyR{
  grid-area: cloudyR;
  padding-left: 8%;
}

nav{
  grid-area: nav;
  padding-left: 42%;
  padding-top: 24%;
  word-spacing: 30px;
  font-size: 3em;
  font-family: 'Nunito Sans', sans-serif;
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
  text-decoration: none;
}





#nameRumblr{
  grid-area: nameRumblr;
  margin: 11% 0 0% 47%;
  font-size: 5em;
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  font-weight: bold;
  letter-spacing: 4.4px;
}

#main{
  grid-area: main;
  overflow-y: scroll;
  height: 90vh;
  display: grid;
  grid-template-areas:
  "iconImage pageContent"
  "iconImage pageContent"
  ". pageContent";
}

#iconImage{
  grid-area: iconImage;
  /* background: blue; */
  box-sizing: border-box;
  background-color: lightgray;
  height: 80vh;
  width: 20vw;
}

#username{
  font-family: 'Bree Serif', serif;
  font-size: 4em;
  margin: 0;
}

#sub-name{
  font-family: 'Bree Serif', serif;
  font-size: 2.9em;
  margin: -19px;
  color: purple;
}

#avatar{
  border-radius: 50%;
  position: relative;
  padding: 18%;
}

#pageContent{
  grid-area: pageContent;
  height: 110vh;
  width: 70vw;
  background: white;
  display: grid;
  grid-template-areas: 
  "postbox"
  "enteredPosts";
}

#Postbox{
  grid-area: postbox;
  margin: 16px;
}

#enteredPosts{
  padding-bottom: 7.8%;
  grid-area: enteredPosts;
  overflow-y: scroll;
  font-size: 1.2em;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 20%;
}

.Feed{
  overflow-y: scroll;
}
#postTitle{
  font-size: 1.5em;
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 20%;
}

#postBody{
  margin-top: -5%;
  font-size: 3em;
  font-family: 'Nunito Sans', sans-serif;
}

textarea {
  width: 100%;
  /* height: 300%; */
  padding: 8px 10px;
  font-size: 3em;
  box-sizing: border-box;
  border: 2px solid rgb(22, 150, 224);
  border-color:  rgb(22, 150, 224);
  border-radius: 0px 10px 10px 10px;
  resize: none;
}

.blog{
  font-size: 2em;
  border-radius: 10px 10px 0px 0px;
  border: 2px solid rgb(22,150,224);
  box-sizing: border-box;
  width: 50%
}

.blog-button{
  font-size: 1.5em;
  border-radius: 10%;
  padding: 3.5%;
  margin-left: 82.8%; 
  color: white;
  background-color: rgba(4, 187, 248, 0.836);
}

#feedLink[
  font-size: 1.9em;
]



#footing{
  grid-area: footing;
}

#feedBanner{
  height: 20vh;
  width: 100vw;
  background-color: rgb(23,71,90);
  color: white;
}

#theRumbling{
  font-size: 5em;
  font-family: 'Nunito Sans', sans-serif;
}

#feedName{
  padding-top: 2.5%;
  padding-left: 2.5%;
}